@model Eventos.Info.UI.Models.Evento

@{
    ViewBag.Title = "Details";
}



 <div class="row">
     <div class="col-md-2">
      </div>
     <div class="col-md-8">



<div id="eventContent">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
        </div>
        <div class="col-md-2">
        </div>
    </div>


<fieldset>
    <legend>Evento</legend>




     <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="display-field">
                    <img src="@Html.DisplayFor(model => model.PosterUrl)"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="display-label">
                    <strong>Organizador</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Organizador.Nombre)
                </div>

                <div class="display-label">
                     <strong>Categoria</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Categoria.Categoria1)
                </div>
           

                <div class="display-label">
                     <strong>@Html.DisplayNameFor(model => model.Fecha)</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Fecha)
                </div>

                <div class="display-label">
                     <strong>@Html.DisplayNameFor(model => model.Lugar)</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Lugar)
                </div>

                <div class="display-label">
                     <strong>@Html.DisplayNameFor(model => model.Hora)</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Hora)
                </div>

                <div class="display-label">
                     <strong>@Html.DisplayNameFor(model => model.Precio)</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Precio)
                </div>

                <div class="display-label">
                     <strong>@Html.DisplayNameFor(model => model.Descripcion)</strong>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Descripcion)
                </div>
                <br />
                <div class="display-field">
                    @Html.ActionLink("Edit", "Edit", "Evento", new {id = Model.EventoId }, new { @class = "btn btn-warning ", @id = "btnRegresar" })

                    @Html.ActionLink("Backto List", "Index", "Evento", new { @class = "btn btn-primary ", @id = "btnRegresar" })
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>  


</fieldset>


    </div>
         </div>
     

     <div class="col-md-2">
      </div>
     </div>